<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ebonyartes/" target="blanck" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UC8fRZfYGd21_D8DwuEcFuHw" target="blanck" role="button"><i class="fab fa-youtube"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ebony.programador/" target="blanck" role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/leonardo-alves-7b5aa5152/" target="blanck" role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Leon4rdoalves" target="blanck" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
   
    <div class="text-center p-3">
        © 2021 Copyright
        <a class="text-white" href="https://www.linkedin.com/in/leonardo-alves-7b5aa5152/" target="blanck" >| <strong><span>Eb</span>o<span>ny S</span>y<span>S</span></strong> |</a>
        All right Reserved
    </div>
</footer>