<div class="container">
    <div class="row">
        <div class="col" id="video">
            <div class="video">
                <iframe width="760" height="515" src="https://www.youtube.com/embed/dKXWB8E198Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col" id="texto">
            <div class="texto">
                <h2>
                    titulo <span>aqui</span>.
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, nemo sapiente aliquam iusto, neque
                    fugiat rem beatae consectetur tempore magni id eligendi incidunt, laudantium et? Tempora quos
                    suscipit illo cum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quia incidunt perspiciatis deserunt
                    temporibus? Sed eum mollitia quidem amet animi error ducimus debitis neque fugit? Eligendi ducimus
                    fugiat ad labore.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat distinctio eveniet atque sunt nam
                    dicta, adipisci ipsa, eius quaerat cumque suscipit soluta ut omnis nostrum quasi voluptatum, tempora
                    praesentium error?</p>
            </div>
        </div>
    </div>
</div>